name: Metrics
on:
  schedule: [{ cron: "0 3 * * *" }]
  workflow_dispatch:

jobs:
  github-metrics:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          user: EnderGamer6112
          template: classic
          base: header, activity
          
          plugin_isocalendar: yes
          
          plugin_languages: yes
          plugin_languages_sections: most-used
          plugin_languages_limit: 8
          plugin_languages_analysis: true
